input {
    width: 15px;
}

.name {
    border-bottom: 2px solid black;
}

.selected {
    text-decoration: underline;
    font-weight: bold;
}

.task-list {
    border-right: 2px solid BLACK;
    padding-right: 10px;
    direction: ltr;
    font-family: "Verdana", serif;
    float: left;
    font-size: 15px;
    line-height: 170%;
}

.task-text {
    text-indent: 25px;
    float: right;
    width : 100%;
}
.task{
    white-space: nowrap;

}

.butt {
    margin-left: calc(50% - 75px);
    width: 150px;
    background-color: #008080;
    border: none;
    color: orange;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    font-size : 20px;
}
.butt:hover {
    color: yellow;
}

.lesson{
    text-align: center;
}

.exercise{
    text-align: center;
}

.errlighted {
     border-color: red;
 }
.corlighted {
    border-color: green;
}
.main {
    width : 100%;
}
.page-root {
    width:100%;
}
