input {
    width: 15px;
}

.name {
    border-bottom: 2px solid black;
}

.selected {
    text-decoration: underline;
    font-weight: bold;
}

.task-list {
    border-right: 2px solid BLACK;
    padding-right: 10px;
    direction: ltr;
    font-family: "Verdana", serif;
    float: left;
    font-size: 15px;
    line-height: 170%;
}

.task-text {
    text-indent: 25px;
    float: right;
}
.task{
    white-space: nowrap;
}

button {
    margin-left: calc(50% - 75px);
    width: 150px;
}

.lesson{
    text-align: center;
}
.main {
    width : 100%;
}

.exercise{
    text-align: center;
}

.errlighted {
    border-color: red;
}
.corlighted {
    border-color: green;
}
