* {
  line-height: 1.5em;
  box-sizing: border-box;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -webkit-font-smoothing: subpixel-antialiased;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 14px;
  overflow-y: scroll;
}

.error-404 {
  background: #eee;
  color: #666;
}

.video {
  background: #000;
  color: #666;
}

img { border: 0 }
form { margin: 0 }
small { font-size: 70% }
table { font-size: 100% }

a {
  color: #04a;
  text-decoration: none;
  border-bottom: 1px rgba(0,64,160,.15) solid;
  padding: .6em 0 0 0;
}

a.nu {
  border-bottom: none;
}

a:visited {
  color: #608;
  border-bottom-color: rgba(96,0,128,.15);
}

a:hover, a.hover {
  color: #d04000;
  border-bottom-color: rgba(208,64,0,.15);
}

.square {
  box-sizing: content-box;
  border: 1px #bbb solid;
}

.square:hover, 
.square.hover {
  border: 1px rgba(208,64,0,.3) solid;
}

a.js { text-decoration: none; border-bottom: 1px #039 dashed }
a.js:hover { border-bottom-color: rgba(208,64,0,.15) }
a.js2 { color: #999; text-decoration: none; border-bottom: 1px #999 dashed }
a.js2:hover { color: #d04000; border-bottom-color: rgba(208,64,0,.15) }

a.broken { color: #f00; }

a.relevant:visited { color: #039 }
a.irrelevant { color: #000 }
a.relevant:hover,
a.relevant.hover,
a.irrelevant:hover,
a.irrelevant.hover { color: #d04000; border-bottom-color: rgba(208,64,0,.15) }

h1 a, h1 a:visited { color: #000;border-bottom-color: rgba(0,0,0,.15) }
h1 a:hover, h1 a.hover { color: #d04000; border-bottom-color: rgba(208,64,0,.15) }


.error-404 a { color: #000; border-bottom-color: rgba(0,0,0,.15) }
.error-404 a.js { border-bottom-color: rgba(0,0,0,.15) }


.error-404 a:hover, .error-404 a.hover {
  color: #d04000;
  border-bottom-color: rgba(208,64,0,.15);
}

.video a { color: #fff }


input {
  position: relative; 
  outline: none;
  width: 100%;
  top: .35em;
}

.found {
  background: #ffb;
  padding: .25em 0;
  //background: #eec;
}


.noh .found { background: transparent }

.skip {
  color: #808080;
  text-align: center;
  font-size: 70%;
  margin: .5em 0;
}

.ellipsis {
  margin: 0 .12em;
  padding-left: 1px;
  padding-right: -1px;
  letter-spacing: 2px;
}

u { text-decoration: none; border-bottom: 1px #0c0 solid }

p { margin: 0 0 .7em 0; }



h1 {
  margin: 0;
  font-size: 160%;
}

h2 { font-size: 145%; }

h3 {
  margin: 0 0 -.8em 0;
  margin: 0 0 0 0;
  font-size: 16px;
  font-weight: bold;
}

h4 {
  margin: 1.4em 0 .35em 0;
  font-size: 100%;
  font-weight: bold;
}

h4.first { margin-top: .4em }

h4.light { font-weight: normal }

h5 {
  margin: 0 0 .5em 0;
  font-size: 100%;
  font-weight: normal;
}

h5.group {
  margin: 0;
  font-style: italic;
}

h6 {
  font-size: 100%;
  font-weight: normal;
  margin: 0 0 0 0;
}

.num {
  position: absolute;
  text-align: right;
}

.index-column h5 {
  position: relative;
}

.index-column .num {
  top: 0;
  display: none;
  /*
 -webkit-transition: opacity .33s ease-out;
  opacity: 0;
  */
}

/*
.index-column:hover .num {
  //display: inline;
 -webkit-transition: opacity .33s ease-out;
  opacity: .5;
}
*/




.baulk {
  height: 0;
  overflow: hidden;
}

.pre-head { width: 100%; height: 1.05em }
.head-wrap {
  position: relative;
  width: 100%;
  background: #fff;
  border-bottom: 1px #fff solid;
  z-index: 1000;
}

.head {
  margin: 0 6% 0;
  padding: .35em 0 .7em 0;
}

.error-404 .head-wrap {
  background: #eee;
  border-bottom-color: #eee;
}

.video .head-wrap {
  background: #000;
  border-bottom-color: #000;
}

.help {
  clear: left;
  position: relative;
  margin: 1.4em 0 0 6%;
  margin-left: 6%;
  width: 94%;
  font-size: 85%;
  color: #444;
}
.help .index-group {
  padding-bottom: 0;
}

.help p.samples {
  margin-top: -.7em;
}
a.helpicon,
a.sample {
  color: #04a;
  text-decoration: none;
  border: none;
  margin: 0 .33em 0 -.33em;;
  line-height: 2.1em;
  white-space: nowrap;
}
a.helpicon {
  border-radius: .7em;
  -webkit-border-radius: .7em;
  -moz-border-radius: .7em;
  padding: 0 .4em;
  background: #faf0f4;
  background: #f5e0e8;
  background: #f0f0f0;
  border: 1px #cab solid;
  color: #000;
}
a.sample {
  border-radius: .7em;
  -webkit-border-radius: .7em;
  -moz-border-radius: .7em;
  padding: 0 .67em;
  background: #f0f4fa;
  border: 1px #cde solid;
  box-shadow: inset 0 0 2px #cde;
}
a.sample:hover,
a.sample.hover {
  background: #fff;
  color: #d04000;
  border-color: rgba(208,64,0,.15) !important;
}
a.helpicon-active {
  background: #f5e0e8;
  color: #000;
  border-color: #ccc;
}

#share-element * {
  font-size: 100%;
  border-bottom: none !important;
}
#share-element .b-share__handle {
  text-decoration: none !important;
}
#share-element .b-share__text {
  text-decoration: none !important;
  border-bottom: 1px rgba(0,64,160,.15) dashed !important;
}
#share-element .b-share__handle:hover .b-share__text,
#share-element .b-share__text:hover {
  color: #d04000;
  border-bottom-color: rgba(208,64,0,.15) !important;
}

.content-wrap {
  position: relative;
  clear: left;
}

.index, 
.content {
  clear: left;
  position: relative;
  margin: 1.4em 0 2.8em 6%;
  width: 94%;
}

.index-group {
  float: left;
  width: 48%;
  padding-bottom: 2.67em;
}

.index-column {
  float: left;
  position: relative;
  width: 50%;
  padding-right: 2.33em;
  min-width: 10em;
}

.index-column .num {
  left: -2em;
  width: 2em;
}

.section { margin: 0 0 2em 0 }

.content em { font-weight: bold; }

.section .num {
  left: 0;
  width: 12.5%;
  padding-right: .33em;
}

.anchor {
  position: relative;
}

.anchor a {
  position: absolute;
  top: -4em;
}

.h { position: relative }
.h h2 { margin: 0 31.25% 1.4em 12.5% }
.h h3 { margin: 0 31.25% 0 12.5% }

.h .larr, .h .rarr {
  position: absolute;
  font-size: 160%;
  color: #ccc;
  margin: 1.1em -1em 0;
}

.h .larr { left: 0 }
.h .rarr { left: 75% }

.h .larr a, .h .rarr a, .h .larr .no-a, .h .rarr .no-a {
  text-decoration: none;
  padding: .35em 1em;
}

.main-content { margin: 0 31.25% 0 12.5% }

.secondary-content {
  float: right;
  width: 21%;
  margin: 0 6% 0 0;
  font-size: 85%;
}

.clear-right { clear: right; }

.foot {
  clear: left;
  font-size: 85%;
  margin: 2.8em 0 2.8em 6%;
  width: 94%;
}

.foot p { margin: 0 } 
/*
.foot a { color: #000 }
.foot a:hover { color: #f00 }
*/













sup, sub { position: relative; vertical-align: middle; font-size: 75%; font-weight: normal; }
sup { bottom: 0.5em; }
sub { top: 0.5em; }
span.tsp { margin-right: -.167em }
span.hsp { margin-right: -.25em }

.small-caps { font-size: 92%; letter-spacing: 1px; margin-right: -1px }
.small-cap-glued { letter-spacing: 0px; }

/*
.prefix { background: url('../i/prefix.gif') right top no-repeat; }
.suffix-1 { background: url('../i/suffix-1.gif') center top no-repeat; }
.suffix-2 { background: url('../i/suffix-2.gif') center top no-repeat; }
.suffix-3 { background: url('../i/suffix-3.gif') center top no-repeat; }
.suffix-4 { background: url('../i/suffix-3.gif') center top no-repeat; }
.suffix-5 { background: url('../i/suffix-3.gif') center top no-repeat; }
.postfix { padding: 0 1px; margin: 0 1px; border: 1px #999 solid; }
*/

*.before-list {
  margin-bottom: 0;
}

ol, ul, .inset {
  padding: 0 0 0 3em;
  margin: 0 0 0.5em 0;
}

.notice ol, .notice ul, .notice .inset {
  padding-left: 3.529em;
}


ol.parentheses {
  position: relative;
  list-style: none;
}

ol.parentheses .num {
  left: 0;
  width: 3em;
  text-align: right;
}

.notice ol.parentheses .num {
  width: 3.529em;
  width: 3.266em;
}



ol li, ul li {
  margin: 0 0 0.5em 0;
}

ol.ru-letters {
  position: relative;
  list-style: none;
  margin: 0 0 0.5em 0;
  padding: 0;
}

ul.flat,
ol.flat {
  margin: 0 0 0.5em 0;
  padding: 0 0 0 0px;
  list-style: none;
}

ul {
  list-style: none;
}

li ul {
  padding: 0 0 0 1.5em;
  margin: 0 0 0.5em 0;
}

li ul li {
  margin: 0 0 0.25em 0;
  padding: 0;
  list-style-type: none;
  /*
  behavior: expression(!this.before?
            this.before = this.innerHTML = '&mdash;<span class="ensp"></span>' + this.innerHTML : '');
  text-indent: -1.5em;
  */
}

li ul li:before {
/*
  content: '\2014';
  margin-right: 0.5em;
  */
}

li p {
  margin: 0 0 0.5em 0;
}

blockquote { margin: 0 0 .7em 40px }

ol blockquote, ul blockquote { margin-left: 0 }

.notice {
  font-size: 85%;
  margin: 0.5em 0;
}

p.footnote {
  text-indent: -0.62em;
  text-indent: -0.7em;
}

p.laquo-start {
  text-indent: -0.5em;
  text-indent: -0.83em;
  text-indent: -0.62em;
}
.laquo {
  position: absolute;
  margin-left: -.62em;
}

table td, table th {
  vertical-align: top;
}

table.list {
  margin: 0 0 0.75em 2.333em;
}

.notice table.list {
  margin-left: 2.745em;
}

table.list td, table.list th {
  padding: 0em .667em .5em;
}

.notice table.list td, .notice table.list th {
  padding: 0em .785em .5em;
}

table.list th {
  padding-bottom: 0;
  font-weight: normal;
  text-align: left;
}

table.wrong-right td {
  width: 12em;
}

.notice table.wrong-right td {
  width: 14.118em;
}

.wrong {
  color: #c00;
  text-decoration: line-through;
}

.wrong * {
  color: #000;
}

.quote {
  padding: .33em 2em 2em 1em;
  margin: 0 0 1em -1em;
  background: #e8eaeb;
}












.words {
    line-height: 1.4;
}

.ending {
  border: 1px #ccc solid;
}

nobr {
    white-space: nowrap;
    display: inline-block;
}












